<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="systemDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\FA506I\OneDrive - Asia Pacific University\01. STUDIES\02. YEAR 1 SEM 2\IOOP\ASSIGNMENT\IOOP ASSIGNMENT FOLDER\IOOP ASSIGNMENT (UI done)\IOOP ASSIGNMENT\IOOP ASSIGNMENT\ReservationSystem.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="IOOP_ASSIGNMENT.Properties.Settings.ReservationSystemConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ReservationSystem.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>